<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimpleZhihuDaily.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18A84A1C1C36166D00F8905A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18A84A331C36166E00F8905A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18A84A3E1C36166E00F8905A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
